body {
    background-image: url("images/parchment.jpg");
}


.mainContainer {
    display: flex;
    height: 600px;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    
   
}

.buttonContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-self: center;
    height: 360px;
    width: 360px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 6px;
    border: solid rgb(131, 158, 8) 2px;
    border-radius: 10px;
    border-style: outset;
    box-shadow: 10px 10px 10px;
    background-color: rgb(51, 49, 49);

    
   

}

.displayContainer {
    display: flex;
    justify-content: center;
    border: solid rgb(131, 158, 8) 4px;
    border-radius: 10px;
    border-style: ridge;
    height: 70px;
    width: 360px;
    align-self: center;
    background-color: rgb(22, 22, 22);
    box-shadow: 10px 10px 10px;
}

.result {
    height: 50px;
    width: 340px;
    color: aliceblue;
    background-color: rgb(68, 95, 75);
    border-radius: 8px;
    align-self: center;
}

button {
    width: 75px;
    height: 60px;
    margin: 5px;
    font-size: 25px;
    font-weight: bold;
    color: rgb(183, 196, 9);
    border: solid rgb(131, 158, 8) 2px;
    border-radius: 100px;
    border-style: outset;
    box-shadow: rgb(24, 24, 24) 5px 5px 5px;
    background-color: rgb(22, 22, 22);
}

#subtract, #add, #multiply, #equals, #divide {
    background-color: rgb(122, 122, 122);
    color: white;
    
}

#allClear {
    background-color: rgb(192, 79, 3);
    color: rgb(22, 22, 22)
}

button:active {
   
      transform: translateY(4px);
}

