
.mainContainer {
    display: flex;
    height: 800px;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    
   
}

.buttonContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-self: center;
    height: 360px;
    width: 360px;
    margin-top: 6px;
    border: solid grey 2px;
    border-style: outset;

    
   

}

.displayContainer {
    border: solid grey 2px;
    border-radius: 10px;
    border-style: outset;
    height: 70px;
    width: 360px;
    align-self: center;
}

button {
    width: 75px;
    height: 60px;
    margin: 5px;
}